@using TREK_Web_Diploma.Controllers.factory;
@using TREK_Web_Diploma.Models.factory;

@model Staff
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="icon" href="~/favicon.ico"/>
<link rel="stylesheet" href="~/css/staffDetail.css"/>
<h1>Інформація про співробітника</h1>
<div>
    <table class="table_1">
        <tr class="tr_1">
            <td class="td_1">Ім'я</td>
            <td class="td_1">@Model.FirstName</td>
        </tr>
        <tr class="tr_1">
            <td class="td_1">Фамілія</td>
            <td class="td_1">@Model.SecondName</td>
        </tr>
        <tr class="tr_1">
            <td class="td_1">Індитифікаційний номер</td>
            <td class="td_1">@Model.StaffId</td>
        </tr>
        <tr class="tr_1">
            <td class="td_1">Посада</td>
            <td class="td_1">@Model.JobTitle.JobTitleName</td>
        </tr>
        <tr class="tr_1">
            <td class="td_1">Місце роботи</td>
            <td class="td_1">
                <a>Номер підприємства @Model.Factory.FactoryId</a>
            </td>
        </tr>
    </table>
</div>