@using TREK_Web_Diploma.Controllers.production;
@using TREK_Web_Diploma.Models.production;
@model IEnumerable<Groopset>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/tableViews.css" />
<h1>Группсети</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Манетка</th>
        <th>Перемикач</th>
        <th>Передня система</th>
        <th>Касета</th>
        <th>Каретка</th>
        <th>Педалі</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.GroopsetId</td>
            <td class="text_row row_2">@item.Transmition.Shifter.ShifterName</td>
            <td>@item.Transmition.Switch.SwitchName</td>
            <td class="row_2">@item.Transmition.FrontGear.FrontGearName</td>
            <td>@item.Transmition.Cassette.CassetteName</td>
            <td class="row_2">@item.Carriage.CarriageName</td>
            <td>@item.Pedals.PedalsName</td>
        </tr>
    }
</table>